.learnmore{
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        color: #001436;
        font-size: 6vmin;
    }

    @media screen and (max-width:786px){
        .box-originibutton{
            align-items: center;
            justify-content: center;
            display: flex;
        }
    }
}